@font-face {
    font-family: mons;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}
:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}
body{
    background-color: rgb(25, 12, 41);
    font-family: mons;
}
.container {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 65rem;
    margin: auto;
}
.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
}
/* navba */
header{
    background-color: #111;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scale(1);
}
.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}
.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease;
}
.wrapper.active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a { 
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    height: 50px;
}
/* this is main */
*{
    margin: 0;
    padding: 0;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #0f0d0d;
}
.images > img,
.images > .images__title{
    transition: 0.5s ease-out;
}

.images{
    position: relative;
    width: 300px;
    margin: 15px;
}
.images__imgs{
    display: block;
    width: 100%;
    border-radius: 13px;
}
.images:hover > img.zoom{
    transform: scale(1.1);
    transition: 0.5s;
}

.images__text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 ,0, 0, 0.5);
    color: #ffff;
    font-family: mons;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s; 
}

.images__text__blur:hover{
    transform: scale(1.1);
  backdrop-filter: blur(2px);
}

.images__text > *{
    transform: translateY(20px);
    transition: 0.5s;
}

.images__text:hover{
    opacity: 1;
}
.images__text:hover > *{
    transform: translateY(0);
}
.images__title{
    font-size: 1.5em;
    font-weight: bold;
}
.images__des{
    font-size: 1em;
    margin-top: 0.25em;
    text-align: center;
}

/* Hero section styling */
.hero {
    position: relative;
    height: 100vh; /* full screen height */
    color: #fff;
  }
  
  /* Background image */
  .overlay{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 2;
  }
  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* push background behind content */
  }
  /* Content styling */
  .lspu {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  .hero__content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }
  
  .hero-content-up > * {
      margin-bottom: 15px;
  }
  
  /* Parallax effect for background image */
  .hero {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .cta{
    padding-top: 2rem;
  }
  /* this is enroll now */
 .enroll__btn { 
      background-color: #23A6F0;
      border: 2px solid #23A6F0;
      padding: 15px 60px;
      margin: 10px;
      border-radius: 50px;
      color: #FFFFFF;
      font-size: 15px;
      cursor: pointer;
      transition: ease-in-out 0.5s;
  }
  .enroll__btn:hover{
      border: 2px solid #FFFFFF;
      padding: 15px 60px;
      margin: 10px;
      border-radius: 50px;
      background-color: transparent;
      color: #FFFFFF;
      font-size: 15px;
      transform: scale(0.8);
  }
  /* this is lean more */
  .learn__btn {
    padding: 15px 60px;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid #FFFFFF;
    background-color: transparent; 
    color: #FFFFFF;
    font-size: 15px;
    transition: ease-in-out 0.5s;
  }
  .learn__btn:hover{
    border: 2px solid #23A6F0;
    padding: 15px 60px;
    margin: 10px;
    border-radius: 50px;
    background-color: #23A6F0;
    color: #FFFFFF;
    font-size: 15px;
    transform: scale(0.8);
  }
  .lspu{
    font-family: mons;
    font-size: 50px;
  }
  
  section {
      padding: 60px 0;
  }
  section h1{
    font-size: 50px;
    color:#23A6F0;
  }
  section p{
    color: #3a3a3a;
  }
  .mission{
    margin-bottom: 3rem;
  }
  .wrapper {
      max-width: 980px;
      margin: 0 auto;
  }
  
 
.button{
    font-family: mons;
    background: transparent;
    margin-top: 3rem;
    padding: 10px 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}
.button:hover{
    background: #23A6F0;
    margin-top: 3rem;
    padding: 10px 40px;
    color: #fff;
    border: 1px solid #23A6F0;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(14, 12, 12, 0.5);
    backdrop-filter: blur(5px);
}
.modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}
.modal-header h1,
.modal-footer h3 {
  margin: 0;
}
.modal-header {
    background-color: #111;
    padding: 30px;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
}
.main__modal li {
    margin: 10px 4rem;
}
.main__modal p {
    margin: 10px 0 0 2rem;
}.main__modal h4 {
    color: #23A6F0;
}
.modal-body {
    padding: 10px 20px;;
    background: #fff;
}
.modal-footer {
    background-color: rgb(201, 207, 210);
    padding: 15px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.close {
    position: absolute;
    color: #FFFFFF;
    padding-bottom: 5%;
    right: 21.5%;
    top: 19%;
    font-size: 40px;
    transition: ease-in-out 0.5s;
}
.close:hover,
.close:focus {
  color: #23A6F0;
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;

}

@keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
